body {
	display: block;
	margin:0;
}


header {
	background-color: skyblue;
	height: 125px;
}

header h1 {
background: url('../images/vball.png') no-repeat; 
background-size: 100px 100px;
float: left;
height: 100px;
overflow: hidden;
text-indent: 100%;
width: 170px;
}

/*digital clock*/
.time {
	float: left;
	font-size: 24px;
	font-family: cursive;
	height: 10px;
	margin-top: 10px;
	text-align: center;
	width: 150px;
}


#clock {
	background: purple;
	border-radius: 10px;
	border: 2px solid black;
	font: 24px bold;
	float: left;
	height: 60px;
	margin-left: -150px;
	margin-top: 40px;
	padding: 14px;
	width: 150px;
}

.menu ul {
	float:right;
	font-size: 20px;
	list-style: none;
	margin: 55px 15px;
	width: 750px;
}

.menu li {
	display: inline;
	padding: 15px 75px 10px;
}


/* slider for the home page*/
.slider {
	border-bottom: 1px solid black;
	height: 750px;
	position: relative;
	width: 100%;
}

.slide {
	background: transparent  url('../images/box-gradient.png') center	center	no-repeat;
	background-size: cover;
	bottom: 0;
	display: none;
	height: 150%;
	position: absolute;
	top: 0;
	width: 100%;
}

.slide {
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.active-slide {
	display: block;
}

.slide-copy h1 {
	font-size: 40px;
	font-weight: 200px;
	margin-top: 100px;
	margin-left: 0px;
}

.slide-copy p {
	color: black;
	font-family: cursive;
	font-size: 22px;
	margin-top: 10px;
	margin-left: 5px;
}

.slide-copy-1 h1{
	color: #33cccc;
	font-size: 45px;
	margin-top: 100px;
	margin-left: 10px;
}

.slide-copy-1 p {
	color: #33cccc;
	font-size: 22px;
	font-family: cursive;
	margin-top: 25px;
	margin-left: 10px;
	width: 460px;
}

/* slide 1*/
.slide-bg {
 background: url('../images/sunset.jpg') center no-repeat;
 float: left;
 height: 750px;
}

/* slide 2*/
.slide-image {
	display: inline;
	padding-bottom: 10px;
	padding-top: 10px;
}

.imageList li{
	float: right;
	list-style: none;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	width: 300px;
}

.imageList img {
	height: 300px;
	text-align: right;
	width: 300px;
}

.arrow-prev {
	display: inline-block;
	margin-left: 20px;
	margin-top: 10px;
	vertical-align: top;
}

.arrow-next {
	display: inline-block;
	margin-right: 20px;
	margin-top: 10px;
	vertical-align: top;
}

/*dot sliders*/
.slider-nav {
	text-align: center;
}

.slider-dot {
	display: inline-block;
	list-style: none;
	padding-right: 40px;
}

.slider-dot li {
	display: inline;
	color: #bbbcbc;
	font-size: 30px;
	margin-left: 3px;
	margin-right: 3px;
	padding: 10px;
}


li:hover {	
	color:green;
	cursor: pointer;
	cursor: hand;
}

